.return-home {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #2976bb;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px #000;
}

.return-home:hover {
    background-color: #005f99;
}
